/* Global variables */
:root {

}

*{
    scroll-behavior: smooth !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header */

.header {
    height: 5rem;
}

.header-content {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: auto;
    width: 30rem;
    align-items: center;
    justify-content: center;
}

.header-content li {
    font-size: 24px;
    height: 3rem;
}

.nav-links {
    list-style: none;
    width: 20rem;
    height: 22px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    mix-blend-mode: difference;
    font-family: "Sans Serif Collection", sans-serif;
    padding-bottom: 1px;
}

a:hover {
    border-bottom: solid 1px #fff;
}

li {
    display: inline-block;
}

/* Body */

body {
    margin: 0;
    height: auto;
    background: #fff;
}

.content {
    display: flex;
    flex-direction: column;
}

/* Sections */

section {
    display: flex;
    justify-content: center;
    height: auto;
    min-height: 50rem;
    width: 100%;
    background: #fff;
    padding-bottom: 2rem;
}

section:nth-child(odd) {
    color: #fff;
    background: #000;
}

.home-section {
    background: #000;
}

.home-section .section-content {
    margin: 0;
}

.front-title, .front-undertitle {
    display: flex;
    height: 4rem;
    margin-top: 14rem;
    margin-bottom: 0;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.front-undertitle {
    height: 3rem;
    margin-top: 0;
    font-size: 20px;
}

.front-title::before, .front-undertitle::before {
    content: attr(data-text);
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
    animation-name: slideFromLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.section-content {
    width: 50rem;
    margin-top: 4rem;
    margin-left: 4rem;
}

h1 {
    font-size: 48px;
    border-bottom: 1px solid #000;
    font-family: "Sans Serif Collection", sans-serif;
}

.portfolio-section h1 {
    border-bottom: 1px solid #fff;
}

h2 {
    font-size: 30px;
    font-family: "Sans Serif Collection", sans-serif;
}

p {
    font-size: 16px;
    font-family: "Sans Serif Collection", sans-serif;
    line-height: 28px;
}

iframe {
    border: none;
}

/* Footer */

.footer {
    color: #fff;
    height: 10rem;
    background-color: #000;
}

.footer-content {
    display: flex;
    flex-direction: row;
}

.footer-content p {
    margin-right: 5rem;
}