/* Global variables */
:root {

}

*{
    scroll-behavior: smooth !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header */

.header {
    height: 5rem;
    box-shadow: 20px 1px #808080 ;
}

.header-content {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 30rem;
    align-items: center;
    justify-content: center;
}

.nav-links {
    list-style: none;
    width: 20rem;
    height: 22px;
    display: flex;
    justify-content: space-between;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    display: inline-block;
}

li:hover {
    border-bottom: solid 1px #000;
}

/* Body */

body {
    margin: 0;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
}

/* Sections */

section {
    display: flex;
    justify-content: center;
    height: 50rem;
    width: 100%;
    margin-top: 2rem;
}

section:nth-child(2) {
    color: #fff;
    mix-blend-mode: difference;
    background-color: #000;
}

.section-content {
    width: 50rem;
    margin-top: 4rem;
    margin-left: 4rem;
}

h1 {
    font-size: 40px;
}

/* Footer */

.footer {
    height: 10rem;
    background-color: #000;
}