/* Global variables */
:root {

}

*{
    scroll-behavior: smooth !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header */

.header {
    height: 5rem;
}

.header-content {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 30rem;
    align-items: center;
    justify-content: center;
}

.header-content li {
    font-size: 20px;
    height: 1.5rem;
}

.nav-links {
    list-style: none;
    width: 20rem;
    height: 22px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    mix-blend-mode: difference;
}

li {
    display: inline-block;
}

li:hover {
    border-bottom: solid 1px #fff;
}

/* Body */

body {
    margin: 0;
    height: auto;
    background: #fff;
}

.content {
    display: flex;
    flex-direction: column;
}

/* Sections */

section {
    display: flex;
    justify-content: center;
    height: auto;
    min-height: 50rem;
    width: 100%;
    background: #fff;
    padding-bottom: 2rem;
}

section:nth-child(odd) {
    color: #fff;
    background: #000;
}

.home-section {
    background: #000;
}

.front-title {
    font-size: 60px;
    padding-top: 8rem;
    text-align: center;
}

.section-content {
    width: 50rem;
    margin-top: 4rem;
    margin-left: 4rem;
}

h1 {
    font-size: 50px;
    border-bottom: 1px solid #000;
}

.portfolio-section h1 {
    border-bottom: 1px solid #fff;
}

iframe {
    border: none;
}

/* Footer */

.footer {
    color: #fff;
    height: 10rem;
    background-color: #000;
}

.footer-content {
    display: flex;
    flex-direction: row;
}

.footer-content p {
    margin-right: 5rem;
}