{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
<section id="home" class="home-section">
    <div class="section-content">
        <div class="container header">
            {% include 'header.html' %}
        </div>
        Sample
    </div>
</section>
    <div class="container content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="container footer">
        {% include 'footer.html' %}
    </div>
</body>
</html>